<div class="app-container">
  <div *ngIf="isLoggedIn">
    <app-topbar
      [isLoggedIn]="isLoggedIn"
      [isSmallScreen]="false"
      [userEmail]="userEmail"
      [displayEmail]="displayEmail"
      [userLegajo]="userLegajo"
      [displayLegajo]="displayLegajo"
      [userRole]="displayRole"
      [displayRole]="displayRole"
      [userLabel]="displayUserLabel"
      [pageTitle]="pageTitle"
      (perfilModalToggled)="onPerfilModalToggled($event)"
      (homeNavigation)="navigateToHome()"
      (logoutRequested)="confirmLogout()"
      (sidebarToggled)="toggleSidebar()"
    ></app-topbar>
    <app-sidebar></app-sidebar>
  </div>

  <div class="main-wrapper"
       [class.with-sidebar]="isLoggedIn && isSidebarVisible"
       [class.logged-in]="isLoggedIn">
    <router-outlet></router-outlet>
  </div>
</div>
